.genre-pannel {
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fcfcfc;
  margin: 1rem 0;
  border-radius: 5px;
  box-shadow: 1px 1px 6px #999999, -1px -1px 6px #999999;
}
.genre-tag {
  position: relative;
  font-size: 0.7rem;
  margin: 0.1rem 0.3rem;
  padding: 5px 5px;
  background-color: #b40404;
  border-radius: 0.3rem;
  color: #fcfcfc;
  height: fit-content;
  transition: all 0.2s ease-in-out;
}
.genre-tag:hover {
  background-color: #555555;
  cursor: pointer;
}
.genre-tag:hover span {
  visibility: hidden;
}
.genre-tag:hover::after {
  content: "X";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
