.banner {
  position: absolute;
  width: 100%;
  height: 56vh;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 500ms ease-in-out;
  opacity: 0;
}

.banner.current {
  opacity: 1;
}

.banner::before {
  content: "";
  background: linear-gradient(to top, rgba(var(--bs-dark-rgb)), transparent);
  position: absolute;
  width: 100%;
  height: 56vh;
  left: 0;
}
.banner-text-area {
  width: 36%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-left: 2rem;
  flex-direction: column;
}

.banner-text-area > * {
  z-index: 2;
}
