.form-control.search-box:focus {
  box-shadow: none;
  border-color: var(--bs-border-color);
}

.unshow {
  opacity: 0;
  overflow: hidden;
  height: 0;
}
#netflix main {
  margin-top: 4rem;
}
#netflix .navbar-search {
  position: absolute;
  right: 5rem;
}

@media screen and (max-width: 1000px) {
  #netflix .navbar-search {
    position: static;
  }
}
