.remote-controller {
  background-color: black;
  position: fixed;
  width: 200px;
  border-radius: 7px;
  padding: 1.5rem 0;
  box-shadow: inset 0 10px 10px #aaaaaa, inset 0 0px 5px #aaaaaa;
  z-index: 2;
}
.remote-controller:hover {
  cursor: move;
}
.logo {
  padding: 0 1.1rem;
}
.sort-filter {
  display: flex;
  justify-content: center;
  padding: 0 1rem 1rem;
}
.sort-filter button {
  flex: 1;
  margin: 0 5px;
}

.remote-controller button {
  padding: 2px 5px;
  background-color: #262626;
  border-radius: 0.3rem;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 1px 2px 0 gray;
  color: #fcfcfc;
}
.remote-controller button:hover {
  cursor: pointer;
}
.remote-controller button:active {
  box-shadow: none;
  transform: translateY(1px);
}

@media screen and (max-width: 600px) {
  .remote-controller {
    transform: scale(0.7);
  }
}
